<div class="">
    <div class="p-8 lg:w-1/2 mx-auto">
        <div class="bg-white rounded py-12 px-4 lg:px-24">
            <%= form_with(model: image) do |f| %>
              <% if image.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

                    <ul>
                      <% image.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="px-4 py-5 bg-white space-y-2 sm:p-2">
                    <label for="price" class="block text-gray-700 text-base font-bold mb-2">タイトル</label>
                    <%= f.text_field :title, class: ' appearance-none border pl-3 border-gray-300 shadow-sm focus:shadow-md focus:placeholder-gray-800  transition  rounded-md w-full py-3 text-gray-800 leading-tight focus:outline-none focus:ring-gray-800 focus:shadow-outline' %>
                </div>

                <div class="px-4 py-5 bg-white space-y-2 sm:p-2">
                    <label for="price" class="block text-gray-700 text-base font-bold mb-2">画像で何を行いますか？</label>
                    <%= f.select  :status, [["文字を検出する", 1], ["顔を検出する", 2], ["ラベルを検出する", 3]], class: ' mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
                </div>

                <div class="px-4 py-5 bg-white space-y-2 sm:p-2">
                    <label for="price" class="block text-gray-700 text-base font-bold mb-2">画像選択</label>
                    <%= f.file_field :avatar %>
                </div>

                <div class="px-4 py-5 bg-white space-y-2 sm:p-2">
                    <label for="price" class="block text-gray-700 text-base font-bold mb-2">テスト内容</label>
                    <%= f.text_area :suggestion, class: ' appearance-none border pl-3 border-gray-300 shadow-sm focus:shadow-md focus:placeholder-gray-800  transition  rounded-md w-full h-60 py-3 text-gray-800 leading-tight focus:outline-none focus:ring-gray-800 focus:shadow-outline' %>
                </div>

                <div class="flex items-center justify-center mt-8">
                    <%= button_tag :type => "submit", :class =>"text-white py-2 px-4 pl-2 uppercase rounded bg-indigo-500 hover:bg-indigo-600 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5", :style =>"margin: 10px;" do %>
                        <i class="fas fa-user-edit"></i>  投稿する
                    <% end %>

                    <%= link_to images_path do %>
                        <button class="text-white py-2 px-4 pl-2 uppercase rounded bg-indigo-500 hover:bg-indigo-600 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5" style="margin: 10px;">
                            <i class="fas fa-undo-alt"></i>
                            戻る
                        </button>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>